
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10%;
  /* width: 100vw; */
}
.input-container {
  padding-top: 40px;
  padding-bottom: 19px;
}
.button-container {
  padding-bottom: 19px;
}
.list-container {
  padding: 3px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0vh;
  left: 29vw;
}
.footer-container img {
  height: 100px;
  width: 330px;
}
